body {
    margin: 0;
    background: url('https://images.pexels.com/photos/5980743/pexels-photo-5980743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') 50% no-repeat fixed;
    background-size: 100%;
}
header {
    text-align: center;
    height: 120px;

    position: sticky;
    top: 0;
}
.buttons {
    display: flex;
    margin-bottom: 10px;
    height: 70px;
}
.BTNBlock{
    margin: 10px 0 0 150px;
}
.week {
    margin-top: 10px;
    width: 140px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid white;
    background: rgb(112, 112, 112);
    color: white;
    box-shadow: 0 0 10px white;
}
.week:hover {
    background-color: rgb(138, 138, 138);
    box-shadow: 0 0 20px gold;
    transition: background-color 0s ease-in,
    box-shadow 0.2s ease-in;
}
.month {
    margin-top: 10px;
    width: 140px;
    height: 45px;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid white;
    background: rgb(112, 112, 112);
    color: white;
    box-shadow: 0 0 10px white;
}
.month:hover {
    background-color: rgb(138, 138, 138);
    box-shadow: 0 0 20px gold;
    transition: background-color 0s ease-in,
    box-shadow 0.2s ease-in;
}
.year {
    margin-top: 10px;
    width: 140px;
    height: 45px;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid white;
    background: rgb(112, 112, 112);
    color: white;
    box-shadow: 0 0 10px white;
}
.year:hover {
    background-color: rgb(138, 138, 138);
    box-shadow: 0 0 20px gold;
    transition: background-color 0s ease-in,
    box-shadow 0.2s ease-in;
}
.divInput {
    margin-right: 92px;
}
input {
    text-align: center;
    width: 250px;
    height: 43px;
    background: rgb(112, 112, 112);
    color: rgb(247, 232, 204);
    font-size: 22px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 0px 30px;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
}
input:hover {
    background-color: rgb(138, 138, 138);
    box-shadow: 0 0 20px gold;
    transition: background-color 0s ease-in,
    box-shadow 0.2s ease-in;
}
.main {
    display: flex; 
}
.centerLeft {
    margin-top: 30px;
    width: 300px;
}
.divSelect {
    position: sticky;
    top: 150px;
}
select {
    width: 250px;
    height: 33px;
    background: rgb(112, 112, 112);
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    font-size: 18px;
    border-radius: 10px;
    margin: 40px 0 0 20px;
    color: white;
    font-family: sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHRhMs2riKJ_Eqhhz-YpCBMpEZxRQ_R-5WH2qbPr1_wZuAb74EzqHYjMez3wdoRk0OPqU&usqp=CAU);
}
select:hover {
    background-color: rgb(138, 138, 138);
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px black;
    transition: background-color 0.1s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in, border 0.3s ease-in;
}
.cnv {
    margin-left: 50px;
}
.tabl {
    margin: 30px 0 30px 100px;
    width: 500px;
    height: 50px;
}
td {
    width: 100px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHRhMs2riKJ_Eqhhz-YpCBMpEZxRQ_R-5WH2qbPr1_wZuAb74EzqHYjMez3wdoRk0OPqU&usqp=CAU');
}
.centerTabl {
    margin: 50px 0 0 65px;
    width: 800px;
}
.centerTabl p {
    font-size: 35px;
    font-weight: 600;
    font-family: system-ui;
    color: gold;
    margin: 20px 0 0 500px;
    text-shadow: 0 0 20px red;
}
.miniTab {
    margin: 30px;
}
.charts {
    display: none;
}

.openChartBtn {
    margin: 50px 0 20px 60px;
    width: 170px;
    height: 60px;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHRhMs2riKJ_Eqhhz-YpCBMpEZxRQ_R-5WH2qbPr1_wZuAb74EzqHYjMez3wdoRk0OPqU&usqp=CAU);
}
.openChartBtn:hover {
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px black;
    transition: background-color 0.1s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in, border 0.3s ease-in;
}
.closeChartBtn {
    margin: 50px 0 20px 60px;
    width: 170px;
    height: 60px;
    border: 2px solid red;
    box-shadow: 0 0 20px red;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: red;
    font-family: sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHRhMs2riKJ_Eqhhz-YpCBMpEZxRQ_R-5WH2qbPr1_wZuAb74EzqHYjMez3wdoRk0OPqU&usqp=CAU);
}
.closeChartBtn:hover {
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px black;
    transition: background-color 0.1s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in, border 0.3s ease-in;
}
.closeChartBtn {
    display: none;
}